.superInput {
   color: #444;
   outline-color: lime;
   font-size: medium;
   width: 680px;
   padding: 8px;
   margin-top: 8px;
   margin-bottom: 5px;
   border-radius: 3px;
   border: 3px solid lime;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}