.button {
   font-size: medium;
   background-color: #41ab5d;
   color: white;
   width: 700px;
   height: 45px;
   margin-bottom: 10px;
   border: #41ab5d;
   margin-top: 10px;
   outline-color: #41ab5d;
}
.button:hover, .red:hover, .green:hover {
   background-color: #31904B;
}

.red {
    background: red;
}
.green {
   background: green;
}
.yellow {
   background: yellow;
}